<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-xs-12">
                <div class="right-text-content">
                        <ul class="social-icons">
                            <li *ngFor="let info of socialInfo">
                                <a href="{{info.href}}"><i class="{{info.class}}"></i></a>
                            </li>
                            
                        </ul>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="logo">
                    <a routerLink="/"><img src="assets/images/white-logo.png" alt="logo_cafe"></a>
                </div>
            </div>
            <div class="col-lg-4 col-xs-12">
                <div class="left-text-content">
                    <p>© Copyright Klassy Cafe Co.
                    
                    <br>Design: TemplateMo</p>
                </div>
            </div>
        </div>
    </div>
</footer>
