<div class="container mt-5 pt-5">
    <div class="row mt-5">
        <div class="col-lg-6 mt-5 mb-2">
            <img src="../../assets/images/slikaautora.jpeg" alt="Rajko Nešković">
        </div>
        <div class="col-lg-6 mt-5 pt-5">
            <p> 
                Hello, my name is Rajko Nešković 23/19. 
                I'm front-end and back-end web developer.
                For front-end development, I'm using HTML (4 and 5), CSS(2 and 3), Javascript, Jquery and focuses on writing elegant, clean and efficient code. 
                As for back-end development, I'm learning procedural PHP, Laravel, C# and ASP.
                I'm studying at The ICT College of Applied Studies in Belgrade, Serbia.
               
            </p>
            <ul class="mt-3">
                <li>Email: rajko.neskovic.23.19@ict.edu.rs</li>
                <li>Number: 064-566-92-00</li>
                <li>Address: Mije Kovacevic 7b</li>

            </ul>
        </div>
    </div>
   
</div>
