<section class="section" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-xs-12">
                <div class="left-text-content">
                    <div class="section-heading">
                        <h6>About Us</h6>
                        <h2>We Leave A Delicious Memory For You</h2>
                    </div>
                    <p>Klassy Cafe is a restaurant in downtown Manhattan from chef Ignacio Mattos. Set one floor above Houston Street, it is a bistro at heart, taking familiar ideas like tartare, ricotta dumplings, burrata on toast, fried rice, and steak, and presenting them in new, satisfying ways. The bar is open late, and you can come in for just a glass and a small bite, should you feel like it. Now in its 30th year, estela has earned numerous accolades, including a place on the World’s 50 Best Restaurants List, one Michelin Star, and two stars from both New York Magazine and the New York Times.</p>
                    <div class="row">
                        <div class="col-4">
                            <img src="assets/images/about-thumb-01.jpg" alt="">
                        </div>
                        <div class="col-4">
                            <img src="assets/images/about-thumb-02.jpg" alt="">
                        </div>
                        <div class="col-4">
                            <img src="assets/images/about-thumb-03.jpg" alt="">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-xs-12">
                <div class="right-content">
                    <div class="thumb">
                        <img src="assets/images/about-video-bg.jpg" alt="Image restaurant">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
