<section class="section" id="offers" class="pt-0">
    <div class="container">
        <div class="row text-center">
                <div class="col-4">
                    <!-- <mat-form-field appearance="fill">
                        <mat-label>Search your meal..</mat-label>
                        <input matInput #search (keyup)="getMelas(search.value,sortBy.value)" >
                      </mat-form-field> -->
                      <!-- <mdb-form-control>
                        <input mdbInput type="text" id="typeText" class="form-control" />
                        <label mdbLabel class="form-label" for="typeText">Text input</label>
                      </mdb-form-control> -->
                    <fieldset>
                        <input (keyup)="getMelas(search.value,sortBy.value)" #search name="search" type="text" id="search" placeholder="Search your meal..." class=" w-100 mt-3 mb-0">
                      </fieldset>
                </div>
               <div class="col-4">
                    <fieldset>
                        <select (change)="getMelas(search.value,sortBy.value)" #sortBy  value="sort" name="sort" id="search" class="mt-3 mb-0 w-100">
                            <option value="0" id="0">Sort by...</option>
                            <option value="1" name="plh" id="1">Price Low-High</option>
                            <option value="2" name="phl" id="2">Price High-Low</option>
                            <option value="3" name="rlh" id="3">Range Low-High</option>
                            <option value="4" name="rhl" id="4">Range High-Low</option>
                        </select>
                    </fieldset>
               </div>
               <div class="col-4">
                <fieldset>
                    <select (change)="getMelas(search.value,sortBy.value,timeForLunch.value)" #timeForLunch  value="time" name="time" id="search" class="mt-3 mb-0 w-100">
                        <option value="0" id="0">Time...</option>
                        <option *ngFor="let c of categories" value="{{c.id}}" id="{{c.id}}}">{{c.name}}</option>
                    </select>
                </fieldset>
           </div>

            <div class="col-lg-12">
                <div class="row" id="tabs">
                    <div class="col-lg-12">
                        <section class='tabs-content'>
                            <article id='tabs-1'>
                                <div class="row">
                                    <ng-container *ngIf="meals.length != 0; else elseBlock">
                                        <div class="col-lg-12 d-flex flex-wrap" >
                                                <div class="fade-in-fwd tab-item col-6" *ngFor="let m of meals | paginate:{ itemsPerPage: 4, currentPage: page}">
                                                    <div class="col-5">
                                                        <img src="assets/images/{{m.image}}" alt="{{m.mealName}}">
                                                    </div>
                                                    <h4>{{m.mealName | uppercase}}</h4>
                                                    <p [innerHTML]="rangeOfMeal(m.range)" ></p>
                                                    <p class="cat">Category: <span [innerHTML]="categoryName(m.cat)"></span></p>
                                                    <p>{{m.description}}</p>
                                                    <div class="price">
                                                        <h6>{{m.price | currency}}</h6>
                                                    </div>
                                                </div>                           
                                            <pagination-controls class="text-center my-pagination col-12"
                                                                (pageChange)="page = $event">
                                            </pagination-controls>
                                        </div>
                                    </ng-container>
                                    <ng-template #elseBlock >
                                       <div class="container">
                                           <div class="row">
                                            <p id="notFound">{{notFoundProducts | uppercase}}</p>
                                           </div>
                                       </div>
                                            
                                    </ng-template>
                                </div>
                            </article>  
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
